<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


        
    <bean id="mysecondbean" class="com.javalearning.ajay.SmallObjects">
    	<property name="value" value="30"/>
    </bean>

    <bean id="mybean" class="com.javalearning.ajay.TestingObject">
    	<property name="obj1">
    		<bean class="com.javalearning.ajay.SmallObjects">
				<property name="value" value="10"></property>
			</bean>
    		
    	</property>
    	
    	<property name="obj2">
	    	<!--idref bean="mysecondbean"/-->  <!--  not working idref -->
	    	<bean class="com.javalearning.ajay.SmallObjects">
				<property name="value" value="20"></property>
			</bean>
	    	
    	</property>
    	
    	<property name="obj3" ref="mysecondbean"/>
    </bean>

	
    

    <alias name="mybean" alias="mybean-alias"/>

</beans>